templates/*
!templates/example.yaml

clusters/*
!clusters/example/

clusters/**/cluster.*
clusters/**/.cluster.*
clusters/**/tfstate
clusters/**/terraform
clusters/**/certificates

*.key
*.pem
*.crt
*.srl

.credentials
creds
credentials
test/
*.log
*.yaml
*.sh

id_rsa
id_rsa.pub
