---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: dns-aaaa-delay
  namespace: kube-system

---

apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: dns-aaaa-delay-role-binding
subjects:
- kind: ServiceAccount
  name: dns-aaaa-delay
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: privileged-psp-user

---

kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: dns-aaaa-delay
  namespace: kube-system
  labels:
    app: dns-aaaa-delay
spec:
  selector:
    matchLabels:
      app: dns-aaaa-delay
  template:
    metadata:
      labels:
        app: dns-aaaa-delay
    spec:
      hostNetwork: true
      tolerations:
        - key: CriticalAddonsOnly
          operator: Exists
        - effect: NoSchedule
          operator: Exists
      serviceAccountName: dns-aaaa-delay
      priorityClassName: system-cluster-critical
      containers:
        - name: dns-aaaa-delay
          image: {{ core_repo_root }}{{ current_manifest['dependencies']['core']['dns-aaaa-delay']['src'] }}
          imagePullPolicy: IfNotPresent
          securityContext:
            privileged: true
          lifecycle:
            preStop:
              exec:
                command: ["/remove.sh"]
          resources:
            requests:
              cpu: {{ dns_aaaa_delay_requests_cpu }}
              memory: {{ dns_aaaa_delay_requests_memory }}
{% if dns_aaaa_delay_limits_cpu or dns_aaaa_delay_limits_memory %}
            limits:
{% if dns_aaaa_delay_limits_cpu %}
              cpu: {{ dns_aaaa_delay_limits_cpu }}
{% endif %}
{% if dns_aaaa_delay_limits_memory %}
              memory: {{ dns_aaaa_delay_limits_memory }}
{% endif %}
{% endif %}
          volumeMounts:
          - name: xtables-lock
            mountPath: /run/xtables.lock
          - name: lib-tc
            mountPath: /lib/tc
      volumes:
        - name: xtables-lock
          hostPath:
            path: /run/xtables.lock
        - name: lib-tc
          hostPath:
            path: {{ tc_pareto_dist_folder }}
