---
apiVersion: v1
kind: List
items:

  - apiVersion: v1
    kind: ServiceAccount
    metadata:
      name: heapster-sa
      namespace: kube-system

  - apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRoleBinding
    metadata:
      name: heapster-crb
      labels:
        kubernetes.io/cluster-service: "true"
        addonmanager.kubernetes.io/mode: Reconcile
    roleRef:
      apiGroup: rbac.authorization.k8s.io
      kind: ClusterRole
      name: heapster-cr
    subjects:
    - kind: ServiceAccount
      name: heapster-sa
      namespace: kube-system

  - apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRole
    metadata:
      name: heapster-cr
    rules:
    - apiGroups:
      - ""
      resources:
      - namespaces
      - nodes
      - pods
      verbs:
      - get
      - list
      - watch
    - apiGroups:
      - ""
      resources:
      - nodes/stats
      verbs:
      - create
      - get

    # Heapster's pod_nanny monitors the heapster deployment & its pod(s), and scales
    # the resources of the deployment if necessary.
  - apiVersion: rbac.authorization.k8s.io/v1
    kind: Role
    metadata:
      name: system:pod-nanny-role
      namespace: kube-system
      labels:
        kubernetes.io/cluster-service: "true"
        addonmanager.kubernetes.io/mode: Reconcile
    rules:
    - apiGroups:
      - ""
      resources:
      - pods
      verbs:
      - get
    - apiGroups:
      - "extensions"
      resources:
      - deployments
      verbs:
      - get
      - update

  - apiVersion: rbac.authorization.k8s.io/v1
    kind: RoleBinding
    metadata:
      name: heapster-rb
      namespace: kube-system
      labels:
        kubernetes.io/cluster-service: "true"
        addonmanager.kubernetes.io/mode: Reconcile
    roleRef:
      apiGroup: rbac.authorization.k8s.io
      kind: Role
      name: system:pod-nanny-role
    subjects:
    - kind: ServiceAccount
      name: heapster-sa
      namespace: kube-system

  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: heapster
      namespace: kube-system
      labels:
        app: heapster
        role: frontend
        kubernetes.io/cluster-service: "true"
        version: "{{ current_manifest['dependencies']['core']['heapster']['version'] }}"
    spec:
      replicas: 1
      selector:
        matchLabels:
          app: heapster
      template:
        metadata:
          labels:
            app: heapster
            role: frontend
            version: "{{ current_manifest['dependencies']['core']['heapster']['version'] }}"
          annotations:
            scheduler.alpha.kubernetes.io/critical-pod: ''
        spec:
          serviceAccountName: heapster-sa
          priorityClassName: kube-system-high
          tolerations:
            # Mark the pod as a critical add-on for rescheduling.
            - key: "CriticalAddonsOnly"
              operator: "Exists"
          containers:
            - image: {{ core_repo_root }}{{ current_manifest['dependencies']['core']['heapster']['src'] }}
              name: heapster
              env:
              - name: GOMAXPROCS
                valueFrom:
                  resourceFieldRef:
                    resource: limits.cpu
              resources:
                # keep request = limit to keep this container in guaranteed class
                # heapster limits provided by: https://github.com/kubernetes/kubernetes/issues/10256
                requests:
                  cpu: {{ heapster_requests_cpu }}
                  memory: {{ heapster_requests_memory }}
{% if heapster_limits_cpu or heapster_limits_memory %}
                limits:
{% if heapster_limits_cpu %}
                  cpu: {{ heapster_limits_cpu }}
{% endif %}
{% if heapster_limits_memory %}
                  memory: {{ heapster_limits_memory }}
{% endif %}
{% endif %}
              command:
                - /heapster
                - --source=kubernetes.summary_api:https://kubernetes.default?useServiceAccount=true&kubeletHttps=true&kubeletPort=10250&insecure=true
                - --heapster-port=8082
                - --metric-resolution={{ heapster_metric_resolution }}
              ports:
              - containerPort: 8082
                protocol: TCP
                name: summary
            # needed to acess disk io metrics since it uses the legacy source
            # heapster only supports one source at a time, so we need to create another container
            - image: {{ core_repo_root }}{{ current_manifest['dependencies']['core']['heapster']['src'] }}
              name: heapster-legacy
{% if heapster_legacy_limits_cpu %}
{% set cpu_limit_str = (heapster_legacy_limits_cpu|string) %}
{% if cpu_limit_str[-1] == 'm' %}
{% set cpu_limit_int = (cpu_limit_str[:-1]|int) %}
{% else %}
{% set cpu_limit_int = (cpu_limit_str|int) %}
{% endif %}
              env:
              # needs to be set to 1 if cpu less than 1
              - name: GOMAXPROCS
                value: "{% if cpu_limit_str[-1] == 'm' %}{{ [ 1, (cpu_limit_int / 1000) ] | max }}{% elif '.' in cpu_limit_str %}{{ [ 1, cpu_limit_int ] | max }}{% else %}{{ cpu_limit_int }}{% endif %}"
{% endif %}

              resources:
                # keep request = limit to keep this container in guaranteed class
                # heapster limits provided by: https://github.com/kubernetes/kubernetes/issues/10256
                requests:
                  cpu: {{ heapster_legacy_requests_cpu }}
                  memory: {{ heapster_legacy_requests_memory }}
{% if heapster_legacy_limits_cpu or heapster_legacy_limits_memory %}
                limits:
{% if heapster_legacy_limits_cpu %}
                  cpu: {{ heapster_legacy_limits_cpu }}
{% endif %}
{% if heapster_legacy_limits_memory %}
                  memory: {{ heapster_legacy_limits_memory }}
{% endif %}
{% endif %}
              command:
                - /heapster
                - --source=kubernetes:https://kubernetes.default?useServiceAccount=true&kubeletHttps=true&kubeletPort=10250&insecure=true
                - --heapster-port=8083
                - --metric-resolution={{ heapster_metric_resolution }}
              ports:
              - containerPort: 8083
                protocol: TCP
                name: legacy
            - image: {{ core_repo_root }}{{ current_manifest['dependencies']['core']['addon-resizer']['src'] }}
              name: heapster-nanny
{% if nanny_limits_cpu %}
{% set cpu_limit_str = (nanny_limits_cpu|string) %}
{% if cpu_limit_str[-1] == 'm' %}
{% set cpu_limit_int = (cpu_limit_str[:-1]|int) %}
{% else %}
{% set cpu_limit_int = (cpu_limit_str|int) %}
{% endif %}
              env:
              # needs to be set to 1 if cpu less than 1
              - name: GOMAXPROCS
                value: "{% if cpu_limit_str[-1] == 'm' %}{{ [ 1, (cpu_limit_int / 1000) ] | max }}{% elif '.' in cpu_limit_str %}{{ [ 1, cpu_limit_int ] | max }}{% else %}{{ cpu_limit_int }}{% endif %}"
{% endif %}

              resources:
                requests:
                  cpu: {{ nanny_requests_cpu }}
                  memory: {{ nanny_requests_memory }}
{% if nanny_limits_cpu or nanny_limits_memory %}
                limits:
{% if nanny_limits_cpu %}
                  cpu: {{ nanny_limits_cpu }}
{% endif %}
{% if nanny_limits_memory %}
                  memory: {{ nanny_limits_memory }}
{% endif %}
{% endif %}
              env:
                - name: MY_POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: MY_POD_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
              command:
                - /pod_nanny
                - --cpu={{ nanny_heapster_base_cpu }}
                - --extra-cpu={{ nanny_heapster_extra_cpu_per_node }}
                - --memory={{ nanny_heapster_base_memory }}
                - --extra-memory={{ nanny_heapster_extra_memory_per_node }}
                - --threshold=5
                - --deployment=heapster
                - --container=heapster
                - --poll-period=300000
                - --estimator=exponential

            # for legacy source
            - image: {{ core_repo_root }}{{ current_manifest['dependencies']['core']['addon-resizer']['src'] }}
              name: heapster-nanny-legacy
{% if nanny_legacy_limits_cpu %}
{% set cpu_limit_str = (nanny_legacy_limits_cpu|string) %}
{% if cpu_limit_str[-1] == 'm' %}
{% set cpu_limit_int = (cpu_limit_str[:-1]|int) %}
{% else %}
{% set cpu_limit_int = (cpu_limit_str|int) %}
{% endif %}
              env:
              # needs to be set to 1 if cpu less than 1
              - name: GOMAXPROCS
                value: "{% if cpu_limit_str[-1] == 'm' %}{{ [ 1, (cpu_limit_int / 1000) ] | max }}{% elif '.' in cpu_limit_str %}{{ [ 1, cpu_limit_int ] | max }}{% else %}{{ cpu_limit_int }}{% endif %}"
{% endif %}

              resources:
                requests:
                  cpu: {{ nanny_legacy_requests_cpu }}
                  memory: {{ nanny_legacy_requests_memory }}
{% if nanny_legacy_limits_cpu or nanny_legacy_limits_memory %}
                limits:
{% if nanny_legacy_limits_cpu %}
                  cpu: {{ nanny_legacy_limits_cpu }}
{% endif %}
{% if nanny_legacy_limits_memory %}
                  memory: {{ nanny_legacy_limits_memory }}
{% endif %}
{% endif %}
              env:
                - name: MY_POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: MY_POD_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
              command:
                - /pod_nanny
                - --cpu={{ nanny_legacy_heapster_base_cpu }}
                - --extra-cpu={{ nanny_legacy_heapster_legacy_extra_cpu_per_node }}
                - --memory={{ nanny_legacy_heapster_base_memory }}
                - --extra-memory={{ nanny_legacy_heapster_legacy_extra_memory_per_node }}
                - --threshold=5
                - --deployment=heapster
                - --container=heapster-legacy
                - --poll-period=300000
                - --estimator=exponential

  - kind: Service
    apiVersion: v1
    metadata:
      name: heapster
      namespace: kube-system
      labels:
        kubernetes.io/cluster-service: "true"
        kubernetes.io/name: "Heapster"
    spec:
      ports:
        - port: 80
          targetPort: 8082
          name: summary
        - port: 8083
          targetPort: 8083
          name: legacy
      selector:
        app: heapster