kind: Config
apiVersion: v1
current-context: {{ cluster_name }}
preferences: {}
clusters:
- cluster:
    certificate-authority: {{ cert_dir }}/{{ root_ca_crt_filename }}
    server: {% if groups['master']|length == 1 and 'master' in group_names %}https://localhost:{{ kube_api_ssl_port }}{% elif (is_ha_cluster | bool) %}{{ kube_vip_api_server }}{% elif cloud_provider != 'ec2' %}https://{{ hostvars['master000'][address_inventory_field] }}:{{ kube_api_ssl_port }}{% else %}https://{{ hostvars['master000']['private_ip'] }}:{{ kube_api_ssl_port }}{% endif %}

  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: {{ cluster_name }}-admin
  name: {{ cluster_name }}
users:
- name: {{ cluster_name }}-admin
  user:
    client-certificate: {{ cert_dir }}/{{ certs.admin.crt }}
    client-key: {{ cert_dir }}/{{ certs.admin.key }}
