kind: Config
apiVersion: v1
current-context: {{ cluster_name }}
preferences: {}
clusters:
- cluster:
    certificate-authority-data: |-
      {% for line in certificate_authority_data.stdout_lines -%}
        {{ line }}
      {%- endfor %}

    server: {% if (is_ha_cluster | bool) %}{{ kube_vip_api_server }}{% elif alb_dns_name %}https://{{ alb_dns_name }}:{{ kube_api_ssl_port }}{% elif cloud_provider != 'aws' %}https://{{ hostvars['master000'][address_inventory_field] }}:{{ kube_api_ssl_port }}{% else %}https://{{ hostvars['master000']['private_ip'] }}:{{ kube_api_ssl_port }}{% endif %}

  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: {{ cluster_name }}-admin
  name: {{ cluster_name }}
users:
- name: {{ cluster_name }}-admin
  user:
    client-certificate-data: |-
      {% for line in admin_cert_data.stdout_lines -%}
        {{ line }}
      {%- endfor %}

    client-key-data: |-
      {% for line in admin_key_data.stdout_lines -%}
        {{ line }}
      {%- endfor %}
